In [6]:
names = ["John","Hans","Lisa","Hugo"]
result = [name for name in names if "H" in name]
print(result)

['Hans', 'Hugo']

In [7]:
lst = [value**3 for value in range(1,100+1)]
print(lst)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [79]:
names = ["Johnny","Hans","Norman","Hugo"]
names_tuples = tuple(names)
name_tuples = [(len(x), x) for x in names]
name_tuples

[(6, 'Johnny'), (4, 'Hans'), (6, 'Norman'), (4, 'Hugo')]

In [58]:
str = "random2143@mail.dk"

chInString = [ch for ch in string if ch.isnumeric()]
print(chInString)

['2', '1', '4', '3']

In [66]:
from itertools import product

Dice = 2

temp =[list(range(1,6+1)) for value in range(Dice)]

result = list(product(*temp))

print(result)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [95]:
def dice():
    return [set((i,j) for i in range(1,7) for j in range(1,7) if not i>j)]
dice()

[{(1, 1),
  (1, 2),
  (1, 3),
  (1, 4),
  (1, 5),
  (1, 6),
  (2, 2),
  (2, 3),
  (2, 4),
  (2, 5),
  (2, 6),
  (3, 3),
  (3, 4),
  (3, 5),
  (3, 6),
  (4, 4),
  (4, 5),
  (4, 6),
  (5, 5),
  (5, 6),
  (6, 6)}]

In [78]:
names = ["Johnny", "Debrah", "Boris", "Peter"]
dict([(key, len(key)) for key in names])

{'Johnny': 6, 'Debrah': 6, 'Boris': 5, 'Peter': 5}

In [94]:
import math
numbers = [40, 30, 55, 12, 16, 66]
dict([(key, math.sqrt(key)) for key in numbers])

{40: 6.324555320336759,
 30: 5.477225575051661,
 55: 7.416198487095663,
 12: 3.4641016151377544,
 16: 4.0,
 66: 8.12403840463596}